<form class="surveyForm" #surveyForm="ngForm" (ngSubmit)="onSubmitSurveyForm(surveyForm)" id="surveyForm">
    <div class="form-group">
      <label for="email">Enter Your email</label>
      <input class="form-control" placeholder="Enter Your email address" name="email" id="email" ngModel email required #email="ngModel" >
      <span *ngIf="!email.valid && email.touched " class="help-block">Please enter valid email</span>
    </div>
      <div *ngFor="let input of questions; let i = index">
        <div *ngIf="input.type === 'paragraph'" class="form-group">
          <label for="paragraph{{ i }}">{{ input.label }}</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter response"
            name="question{{ i }}"
            ngModel
            required
          />
        </div>
        <div class="form-group form-check" *ngIf="input.type === 'checkbox'">
          <label for="checkboxQuestion{{ i }}">{{ input.label }}</label>
    
          <div *ngFor="let option of input.options; let j = index">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck{{ j }}"
              name="checkbox{{j}}"
              value="{{option}}"
              ngModel
            />
  

            <label class="form-check-label" for="exampleCheck{{ j }}">{{
              option
            }}</label>
          </div>
        </div>
        <div *ngIf="input.type === 'radio'">
          <label for="radioButtonQuestion">{{ input.label }}</label>
      

          <div *ngFor="let option of input.options; let z = index">
            <div class="radio">
              <label for="radioButtonOption{{ z }}"
                ><input
                  type="radio"
                  name="optradio"
                  id="radioButtonOption{{ z }}"
                  value="{{option}}"
                  ngModel
                  required
                />{{ option }}</label
              >
            </div>
          </div>
      
        </div>
        <div *ngIf="input.type === 'select'">
          <label for="selectInputQuestion">{{ input.label }}</label>
          <select name="SelectInput" class="form-control" id="selectInputQuestion" ngModel required #select="ngModel">
            <option selected>Select Type of Input</option>
            <option *ngFor="let option of input.options" value="{{option}}">{{
              option
            }}</option>
          </select>
          <span *ngIf="!select.valid && select.touched " class="help-block">Please enter valid Response</span>
        </div>
      </div>
      <button [disabled]="!surveyForm.valid" type="submit" class="btn btn-primary" >Save</button>
    </form>
    