
  <a [routerLink]="['/forms/create']" routerLinkActive="router-link-active"  class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-plus-sign"></span> Plus
  </a>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div *ngFor="let item of forms" class="card text-white bg-dark mb-3" style="max-width: 18rem;" >
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Dark card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  


  </div>
</div>
    
    
    
